@use '../bases/variables' as v; 
@use '../bases/mixins' as m;

.anuncio {
    background-color: v.$beige;
    margin: 0;
    text-align: center;
    color: v.$blanco;
    font-size: 1.5rem;
    padding: 1.2rem;
    letter-spacing: .3px;
    @include m.desktop {
        font-size: 1.7rem;
    }
}

.banner {
    position: relative;
    .banner__img{
        padding-bottom: 60%;
        background-size: cover;
        background-position: 70% center;
        @include m.telefono{
            // background-position: right 39%;
            background-position: center 55%;
            min-height: 30rem;
            padding-bottom: 10%;
        }
       
        // &--nosotros {
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/salon.jpg);

        // }  
        // &--servicios {
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/serviciosHero.jpg);
        // }  
        // &--reservar {
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/reservarHero.jpg);
        //     background-position: center;
        // } 
        
        // // Servicios pages
        // &--nails{
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/manicure-banner.jpg);
        // }
        // &--lashes{
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/eyelash-banner.png);
        // }
        // &--eyebrows{
        //     background-image: linear-gradient(to top, transparentize(v.$beige, .3) 0%, transparentize(v.$negro, 1) 100%), url(../assets/img/eyebrows-banner.jpg);
        // }
    }
    &__heading{
        position: absolute;
        bottom: 0;
        margin-bottom: 4rem;
        color: v.$blanco;
        right: 0;
        left: 0;
        text-align: center;
        font-size: 4rem;

        @include m.tablet {
            font-size: 6rem;
        }
    }
}